main{
    display: flex;
    width: 1270px;           /* Ancho de 150 píxeles */
    height: 600px;          /* Alto de 150 píxeles */
    background: lightblue;        /* Fondo de color rojo */
    border: 0px solid #000;
    top: 30px;
    padding-top: 100px;
    margin-left: 350px;
    border-radius: 20px;
    background-image: url("/imagenes/cifrar-archivos-carpetas-usb.webp");
    background-repeat: no-repeat;
    background-position: 50px;
    background-size: 150px;
    background-position-y: 40px; 
}

.input-texto{
    position: relative;
    height: 50px;
    width: 400px;
    left: 170px;
    font-size: 20px;
    background-color: lightblue;
    margin-top: 100px;
    
}
.mensaje{
    position: relative;
    height: 630px;
    width: 400px;
    margin-top: -90px;
    border: 0px;
    left: 180px;
    font-size: 20px;
    text-align: center;
    padding: 1em;
    border-radius: 24px;
 }


 .encriptar{
    position: relative;
    background-color: darkblue;
    color: white;
    font-size: 25;
    width: 200px;
    height: 50px;
    top: 225px;
    left: 55px;
    margin-right: 10px;
    border-radius: 24px;
    gap: 8px;
}

.desencriptar{
    position: relative;
    background-color: lightgrey;
    color: white;
    font-size: 25;
    width: 200px;
    height: 50px;
    top: 225px;
    left: 50px;
    border-radius: 24px;
    gap: 8px;
}

.copiar{
    position: relative;
    border: 1px solid #000;
    font-size: 20px;
    width: 200px;
    height: 50px;
    top: 70px;
    left: 305px;
    border-radius: 24px;
    gap: 8px;  
}

.refrescar{
    position: relative;
    background-color: darkblue;
    color: white;
    font-size: 25;
    width: 200px;
    height: 50px;
    top: 225px;
    left: 55px;
    margin-right: 10px;
    border-radius: 24px;
    gap: 8px;
}
.texto{
    position: relative;
    font-size: 18px;
    text-align: left;
    width: 260px;
    height: 30px;
    top: 230px;
    left: 40px;
    margin-left: 55px;
}

.alerta{
    position: relative;
    font-size: 24px;
    text-align: left;
    width: 350px;
    height: 30px;
    top: 15px;
    left: 195px;
    margin-left: 70px;   
}

.image {
    position: relative;
    width: 100%; /* for IE 6 */
    margin-left: 240px;
    margin-top: -550px;
    }

.icon{
    position: relative;
    width: 50px;
    height: 50px;
    top: 270px;
    left: 10px;
    background-image: url("imagenes/6897045.png");
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-size: 30px;
    background-position-y: 20px;
    margin-left: 40px;
}
body{
    background-color: lightcyan;
}



.informacion{
    font-size: 28px;
}

